h1, h2, p{
    color: white;
}

/*
body{
    background-image: url(7cM6SF.jpg),url(d137c4178bd0248d19b99a53934f37ca.jpg) ;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 50%, 50%;
    
} */

body{
    background: radial-gradient(circle, blue, green);
}

html, body{
    height: 100%;
}

p{
    text-transform: uppercase;
    text-shadow: 4px, 4px, 4px black;
    letter-spacing: 6px;
    word-spacing: 10px;
    text-indent: 30px;
    line-height: 3;
    white-space: nowrap;
}

a{
    text-decoration: underline;
}